<div class="container">
	<form method="post" action="<%= session_url %>" class="form-signin">
	  <input
	     name="authenticity_token"
	     type="hidden"
	     value="<%= form_authenticity_token %>">
			 
		<h2 class="form-signin-heading login-text">Please Sign In</h2>
		
		<% if @errors %>
			<p class="text-danger"><%= @errors %></p>
		<% end %>
		
		<div class="form-group">
			<label for="user_username">
			<input type="text" class="form-control" 
					   name="user[username]" placeholder="Username" id="user_username">
		</div>
		<div class="form-group">			 
			<label for="user_password">
			<input type="password" class="form-control" 
				   	 name="user[password]" placeholder="Password" id="user_password">
		</div>
		<button class="btn btn-large btn-primary" type="submit">Sign In</button>
	</form>
	<br>	
	<p class="login-text">
		 Don't have an account? <a href="<%= new_user_url %>">Create Account</a>
	</p>
</div>