<div class="container">
	<form method="post" action="<%= session_url %>"class="form-signin">
	  <input
	     name="authenticity_token"
	     type="hidden"
	     value="<%= form_authenticity_token %>">
			 
		<h2 class="form-signin-heading">Please Sign In</h2>
		<input type="text" class="form-control" 
				   name="user[username]" placeholder="Username">
		<input type="text" class="form-control" 
					 name="user[email]" placeholder="Email address">
		<input type="password" class="form-control" 
			   	 name="user[password]" placeholder="Password">
		<button class="btn btn-large btn-primary" type="submit">Sign In</button>
	</form>
	<br>
	<p> Don't have an account? <a href="<%= new_user_url %>">Create Account</a>
</div>