<form id="editList">
	<label for="list_title">
	<input type="text" name="list[title]" 
				 id="list_title" placeholder="<%= list.get('title') %>">
	<button type="submit" class="btn btn-sm">save</button>
</form>