<form class="form-inline" id="editBoard-form">
	<div class="form-group">
		<label for="board_title">
		<input type="text" name="board[title]" 
					 id="board_title" value="<%= board.get('title') %>" autofocus>
	</div>
	<button type="submit" class="btn btn-sm">save</button>
</form>