<div id="create-board">
	<a data-toggle="modal" href="#newBoard" class="btn btn-default">
		create board
	</a>	
</div>
<div id="boards">
<% boards.each(function(board) { %>
	<p>
		<a href="#/<%= board.get('id') %>" class="btn btn-link btn-lg">
			<%= board.escape('title') %>
		</a>
	</p>
<% }); %>
</div>

<!-- newBoard Modal -->
<div class="modal fade" id="newBoard" tabindex="-1" role="dialog" 
		 aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" 
							  aria-hidden="true">&times;</button>
        <h4 class="modal-title">Board Title</h4>
      </div>
      <form id="createBoard">
				<div class="modal-body">
					<input type="text" class="form-control" 
								 placeholder="Board title" name="board[title]" autofocus>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" 
									data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">
						Save changes
					</button>
	      </div>
			</form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->