<div class="container">
	<div id="create-board">
		<a data-toggle="modal" href="#newBoard" class="btn btn-primary btn-sm">
			new board
		</a>	
	</div>
	<br>
	<div class="list-group" id="boards">
	<% boards.each(function(board) { %>
		<a href="#/<%= board.get('id') %>" class="list-group-item">
			<%= board.escape('title') %> 
		</a>
	<% }); %>
</div>

<div class="container">
<!-- newBoard Modal -->
<div class="modal fade" id="newBoard" tabindex="-1" role="dialog" 
		 aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" 
							  aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create Board</h4>
      </div>
      <form id="createBoard">
				<div class="modal-body">
					<p>Board Title</p>
					<input type="text" class="form-control" 
								 placeholder="untitled board" name="board[title]">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" 
									data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">
						Save changes
					</button>
	      </div>
			</form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->