<!-- board view -->
<div class="col-md-12">
<div class="panel panel-default">
	<div class="panel-heading clearfix">
	    <h3 class="panel-title">
				<span id="editBoard">
					<%= board.escape('title') %>
				</span>
			  <% if (board.get('lists').length <= 3) { %>
					<span style="float: right">
						<a data-toggle="modal" href="#newList" 
							 class="btn btn-default btn-sm">
							 Add List
						</a>
					</span>
				<% } %>					
			</h3>
	</div>
	
	<!-- list views -->
  <div class="panel-body panel-height">
		<div class="row">
			<div class="col-md-10" id="lists">
			</div>
			<div class="col-md-2">
				<ul class="list-group">
					<li class="list-group-item active">
						Board Members
					</li>
					<li class="list-group-item" id="sidebar">
						<!-- members view -->
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
	
<!-- newList Modal -->
<div class="modal fade" id="newList" tabindex="-1" role="dialog" 
		 aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" 
							  aria-hidden="true">&times;</button>
        <h4 class="modal-title">List Title</h4>
      </div>
      <form id="createList">
				<div class="modal-body">
					<input type="text" class="form-control" 
								 placeholder="Name your list..." name="list[title]" autofocus>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" 
									data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">
						Save
					</button>
	      </div>
			</form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
