<form class="form-horizontal" id="addComment">
	<div class="form-group">
		<textarea rows="1" class="form-control" 
					 placeholder="add a comment..." name="comment[body]" 
					 style="resize: vertical" autofocus></textarea>
	</div>
	<div class="form-group">
    <button type="submit" class="btn btn-primary">
			Add Comment
		</button>
	</div>				 
</form>

<ul class="list-group">
 <% comments.each(function(comment) { %>
	 <li class="list-group-item">
		<div class="btn btn-xs" disabled="disabled">
			<%= comment.escape('user_id')%>
			<span class="glyphicon glyphicon-user"></span>
		</div>

<!-- THIS NEEDS TO BE FIXED TO DISPLAY PROPERLY -->
		<%= comment.escape('body') %>
		<% var date = new Date(comment.escape('created_at')) %>
		<% var options = {month: "short", day: "numeric", hour: "numeric", minute: "numeric" }%>
		<small class="clearfix" style="float: right"><%= date.toLocaleString("en-US", options) %></small>
	 </li>
 <% }); %>
</ul>
