<div class="container">
  <div class="navbar navbar-default" role="navigation">
	    <p class="navbar-text" data-id="<%= current_user.id %>">
				Logged in as: <%= current_user.username %>
			</p>
	    <form action="<%= session_url %>" method="post">
				<button type="submit" class="btn btn-default navbar-btn">
				<input type="hidden" name="_method" value="delete">
					Logout
				</button>
			</form>
	</div>
	<div id="content">
	</div>
</div>

<script type="application/javascript">
	$(function(){
		var user_id = $('p').attr('data-id');
		
		window.TrelloClone.initialize($("#content"), user_id);
	});
</script>