<div class="container">
  <div class="navbar navbar-default" role="navigation">
	    <p class="navbar-text">Logged in as: <%= current_user.username %></p>
	    <form action="<%= session_url %>" method="post">
				<button type="submit" class="btn btn-default navbar-btn">
				<input type="hidden" name="_method" value="delete">
					Logout
				</button>
			</form>
	</div id="content">
	</div>
</div>