<!-- TODO: add sortable!! -->
<ul class="list-group">
	<div class="list-group-item active">						
		<div class="editList" data-id="<%= list.get('id') %>">
			<%= list.escape('title') %>
		</div>
	</div>							
<% list.get('cards').each(function(card) { %>
	<li class="list-group-item"><%= card.escape('body') %></li>
<% })%>

<!-- TODO: STYLE ME!!! -->
	<div class="list-group-item">
		<div id="newCard" data-id="<%= list.get('id') %>">
			<button type="button" class="btn btn-default btn-sm">
				create card
			</button>
		</div>
</div>
</ul>

