<!-- TODO: add sortable!! -->
<ul class="list-group">
	<div class="list-group-item active">						
		<div class="editList" data-id="<%= list.get('id') %>">
			<%= list.escape('title') %>
		</div>
	</div>
	<div class="list-group-item" id="cards">							
		<!-- card view -->
	</div>

<!-- TODO: STYLE ME!!! -->
	<div class="list-group-item">
		<div class="newCard" data-id="<%= list.get('id') %>">
			<button type="button" class="btn btn-default btn-sm" id="createCard">
				create card
			</button>
		</div>
</div>
</ul>
