<!DOCTYPE html>
<html>
<head>
  <title>MarTrello</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<%= yield %>

</body>
</html>
